.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 100, 231);
    height: 60px;

    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
}

.header_options {
    display: flex;
    width: 200px;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}